hosts
raspberry_pi_ip

keys/*
!keys/.gitkeep

roms/genesis/*
!roms/genesis/.gitkeep

roms/n64/*
!roms/n64/.gitkeep

roms/snes/*
!roms/snes/.gitkeep

roms/arcade/*
!roms/arcade/.gitkeep

roms/scummvm/*
!roms/scummvm/.gitkeep

downloaded_images/genesis/*
!downloaded_images/genesis/.gitkeep

downloaded_images/n64/*
!downloaded_images/n64/.gitkeep

downloaded_images/snes/*
!downloaded_images/snes/.gitkeep

downloaded_images/arcade/*
!downloaded_images/arcade/.gitkeep

kodi/*
!kodi/.gitkeep
